body {
  font-family: sans-serif;
  margin: 0;
  padding: 1rem;
  background: #f5f5f5;
}

#cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 5px;
}

.card img {
  width: 100%;
}
